@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
*, *:before, *:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* 
8,16,24,32,40,48,56,64,72,80,88,96,104,112,120,128,136,144,
152,160,168,176,184,192,200,208,216,224,232,240,248,256,264,
272,280,288,296,304,312,320,328,336,344,352,360,368,376,384,392…
*/
:root{
    
    --neutral-gray: #BFBFBF;
    --neutral-gray-violet: #422783;
    --neutral-very-blue: #35323E;
    --neutral-very-violet: #232127;
    --primary-violet: #3B3054;
    --primary-cyan: #2ACFCF;
    --secondary-red: #F46262;
    --white: #FFFFFF;
}

.container-box{
    --widthBox: calc(100% - 48px); 
}


span, a, p, h1, h2, h3, h4, h5, h6, button, input, .url-message{
    font-family: 'Poppins', sans-serif;
}

section{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.header{
    align-items: center;
    display: flex;
    height: 56px;
    justify-content: space-between;
    margin-top: 32px;
    padding: 8px 0px;
    width: calc(100% - 48px);
}
@media only screen and (min-width : 1000px){
    .header{
        width: 1000px;
    }
}


.header-logo{
    height: 32px;
}

.logo{
    height: 32px;
    vertical-align: top;
}

.icon-nav{
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 24px;
    justify-content: space-between;
    width: 28px;
}
@media only screen and (min-width : 769px){
    .icon-nav{
        display: none;
    }
}

.icon-nav__line{
    background-color: var(--neutral-gray);
    height: 4px;
    width: 100%;
}

.container-nav{
    background-color: var(--primary-violet);
    border-radius: 16px;
    height: auto;
    padding: 16px 0;
    position: absolute;
    opacity: 0;
    top: 120px;
    width: calc(100% - 48px); 
    z-index: 9;
}
@media only screen and (min-width : 769px){
    .container-nav{
        display: none;
    }
}

.container-nav.vista{
    top: 80px;
    opacity: 1;
    z-index: 9;
}

li{
    display: flex;
    justify-content: center;
    padding: 16px 0px;
}

.nav-link{
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}
@media only screen and (min-width : 769px){
    .nav-link{
        color: var(--neutral-gray);
        transition: color 0.5s ease;
    }

    .nav-link:hover{
        color: var(--neutral-very-viole);
    }
}

.nav-link__line{
    background-color: rgba(191,191,191, .2);
    height: 1px; 
    width: 90%;
}

.nav-login{
    background-color: transparent;
    border:none;
    color: var(--white);
    font-weight: 700;
    font-size: 16px;
    outline: none;
}
@media only screen and (min-width : 769px){
    .nav-login{
        color: var(--neutral-gray);
        cursor: pointer;
        transition: color 0.5s ease;
    }
    .nav-login:hover{
        color: var(--neutral-very-viole);
    }
}

.nav-signup{
    background-color: var(--primary-cyan);
    border: none;
    border-radius: 32px;
    color: var(--white);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    padding: 8px 24px;
    transition: 0.5s;
}
.nav-signup:hover{
    background-color: #7fe2e2;
}

.nav-desktop{
    display: none;
}
@media only screen and (min-width : 769px){
    .nav-desktop{
        display: flex;
        flex-grow: 2;
        justify-content: space-between;
    }
}

.nav-desktop ul{
    display: flex;
}

.nav-desktop ul li{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 24px;
}

.nav-desktop ul:nth-of-type(2) li:nth-of-type(2){
    padding-right: 0;
}


.banner{
    height: auto;
    padding-bottom: 128px;
    position: relative;
    overflow: hidden;
    width: 100%;
}
@media only screen and (min-width : 769px){
    .banner{
        min-height: 400px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        overflow: hidden;
        width: calc(100% - 48px); 
    }
}
@media only screen and (min-width : 1000px){
    .banner{
        height: auto;
        padding-bottom: 104px;
        width: 1000px;
    }
}
@media only screen and (min-width : 1161px){
    .banner{
        height: auto;
        overflow: visible;
        padding-bottom: 104px;
        width: 1000px;
    }
}

.banner-image{
    height: 304px;
    width: 100%;
    position: relative;
}
@media only screen and (min-width : 769px){
    .banner-image{
        align-items: center;
        height: 400px;
        display: flex;
        justify-content: flex-end;
    }
}

.banner-image img{
    height: calc( 100% - 16px);
    position: absolute;
    right: -136px;
    top: 8px;
    width: auto;
}
@media only screen and (min-width : 769px){
    .banner-image img{
        height: 100%;
        left: 80px;
        max-height: calc( 100% - 40px);
        object-fit: contain;
        position: relative;
        top: 0px;
        width: 100%;
    }
}

.banner-information{
    width: calc(100% - 48px);
    text-align: center;
    margin: 0 auto;
}
@media only screen and (min-width : 769px){
    .banner-information{
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.banner-information h1{
    color: var(--neutral-very-violet);
    text-align: center;
}
@media only screen and (min-width : 769px){
    .banner-information h1{
        font-size: 48px;
        line-height: 56px;
        width: 360px;
        text-align: start;
    }
}

.banner-information p{
    text-align: center;
    color: var(--neutral-gray);
}
@media only screen and (min-width : 769px){
    .banner-information p{
        text-align: start;
        max-width: 400px;
    }
}

.button{
    background-color: var(--primary-cyan);
    border: none;
    border-radius: 32px;
    color: var(--white);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    padding: 8px 24px;
    transition: 0.5s;

}
.button:hover{
    background-color: #7fe2e2;
}




.lds-dual-ring {
    display: inline-block;
    width: 16px;
    height: 16px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}